<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', {pageTitle: 'Home'}) %>
<body>
    <%- include('partials/header.ejs') %>   
    <main>
        <img src="images/1.jpg" alt="banner" class="img-banner">
        <section class="main-section1">
            <h2>Nueva Coleccion</h2>
            <div class="div-art">
            <article class="section1-art1">
                <img src="images/escritorio1.jpg" alt="" >
            </article>
            <article class="section1-art2">
                <img src="images/sillon.jpg" alt="" >
                <img src="images/mesa.jpg" alt="" >    
            </article>
            </div>
        </section>
        <section class="main-section2">
            <h2>Nuestros productos mas comprados</h2>
                    <div class="div-art2">
                    <% for (let i = 0; i<9; i++) {%>                    
                    <article class="section2-art">
                        <a href="/product/<%= list[i].id %>">
                            <img src="images/<%= list[i].image %>" alt="">
                            <div class="art-text">
                            <h3><%= '$ ' + list[i].price %></h3>
                            <span><%= list[i].name %></span>    
                            </div>
                        </a>
                    </article>
                    <% } %>            
                    </div>                                                        
        </section>
        <form action="" method="get" class="form-newsletter">
            <div class="div-form">
                <label>NEWSLETTER</label>
                <input type="text" placeholder="Ingresa tu E-Mail">
                <button type="submit">ENVIAR</button>
            </div>
        </form>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>




