<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {pageTitle: 'Register'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="section-register">
            <form action="/user/register" method="POST" class="container-create" enctype="multipart/form-data" id="userForm">
                    <h4>Registrate</h4>
                    <div class="div-input-register">
                        <label for="">Nombre Completo</label>
                        <input type="text" name="name"  value= "<%= locals.valores? valores.name : null %>">
                        <div class="div-input-register">
                            <p> <%= locals.validaciones && validaciones.name? validaciones.name.msg : null %> </p>
                            <span id="spanErrorName" ></span>
                        </div>
                        <label for="">Email</label>
                        <input type="text" name="email"  value= "<%= locals.valores? valores.email : null %>">
                        <div class="div-input-register">
                            <p> <%= locals.validaciones && validaciones.email? validaciones.email.msg : null %> </p>
                            <span id="spanErrorEmail"></span>
                        </div>
                        <label for="">Contraseña</label>
                        <input type="password" name="password">
                        <div class="iconPassword">
                            <i class="fas fa-eye-slash" id="iconPassword" ></i>
                        </div> 
                        <div class="div-input-register">
                            <p> <%= locals.validaciones && validaciones.password? validaciones.password.msg : null %> </p>
                            <span id="spanErrorPassword" ></span>
                        </div>
                    </div>
                    <div class="div-checkbox-register">
                        <input type="checkbox">
                        <label>Al marcar esta casilla indico que he leido y estoy de acuerdo con los terminos y condiciones y la politica de privacidad de LeMaison</label>
                    </div>
                    <div class="div-checkbox-register">
                        <input type="checkbox">
                        <label>Deseo recibir informacion comercial de LeMaison</label>
                    </div>
                    <div class="div-input-register">
                        <span id="spanErrorSubmit" ></span>
                    </div>
                        <button type="submit" class="button-class-register">Crear Usuario</button>
            </form>
        </section>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>
<script src="/js/registerValidation.js"></script>
</html>