<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {pageTitle: 'Register'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="section-register">
            <form action="/user/register" method="POST" class="container-create" enctype="multipart/form-data">
                    <h4>Registrate</h4>
                    <div class="div-input-register">
                        <input type="text" name="name" placeholder="Nombre y Apellido" value= "<%= locals.valores? valores.name : null %>">
                        <div class="div-errors">
                            <p> <%= locals.validaciones && validaciones.name? validaciones.name.msg : null %> </p>
                        </div>
                        <input type="email" name="email" placeholder="E-mail" value= "<%= locals.valores? valores.email : null %>">
                        <div class="div-errors">
                            <p> <%= locals.validaciones && validaciones.email? validaciones.email.msg : null %> </p>
                        </div>
                        <input type="password" placeholder="Password" name="password">
                        <i class="fas fa-eye-slash"></i> 
                        <div class="div-errors">
                            <p> <%= locals.validaciones && validaciones.password? validaciones.password.msg : null %> </p>
                        </div>
                    </div>
                        <div class="div-input-file">
                            <label for="input-file"> Ingrese una Imagen </label>  
                            <input type="file" name="image" id="input-file"  placeholder="Inserte una Imagen" >
                        </div>      
                    <div class="div-checkbox-register">
                        <input type="checkbox">
                        <label>Al marcar esta casilla indico que he leido y estoy de acuerdo con los terminos y condiciones y la politica de privacidad de LeMaison</label>
                    </div>
                    <div class="div-checkbox-register">
                        <input type="checkbox">
                        <label>Deseo recibir informacion comercial de LeMaison</label>
                    </div>
                        <button type="submit" class="button-class-register">Crear Usuario</button>
            </form>
        </section>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>