<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {pageTitle: 'Create'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <body>

        <main>
            <section class="section-create">
                <form action="/product" method="POST" class="container-create" enctype="multipart/form-data">
                        <h4>Formulario de Creación de Productos</h4>
                        <div class="div-input-create">
                            <input type="text" name="name" placeholder="Nombre del Producto" >
                            <div class="div-input-errors">
                                <span id="errorName"> <%= locals.errors && errors.name? errors.name.msg : null %> </span>
                            </div>
                            <input type="text" name="description"  placeholder="Descripcion">
                            <div class="div-input-errors">
                                <span id="errorDescription"> <%= locals.errors && errors.description? errors.description.msg : null %> </span>
                            </div>
                                <select name="category" placeholder="Categorias" >
                                    <option value="">Categorias</option>
                                    <% if (locals.categories) { %> 
                                        <% categories.forEach(category => { %> 
                                            <option value="<%= category.id %>"> <%= category.name %> </option>
                                        <%})%> 
                                    <% } %> 
                                </select>
                                <div class="div-input-errors">
                                    <span id="errorCategory"> <%= locals.errors && errors.category? errors.category.msg : null %> </span>
                                </div>
                                <select name="materials" placeholder="materials" >
                                    <option value="">Materiales</option>
                                    <% if (locals.materials) { %>
                                        <% materials.forEach(material => { %> 
                                            <option value="<%= material.id %>"> <%= material.name %>  </option>
                                        <%})%>
                                    <% } %> 
                                </select>
                                <div class="div-input-errors">
                                    <span id="errorMaterials"> <%= locals.errors && errors.materials? errors.materials.msg : null %> </span>
                                </div>
                                <select name="colors" placeholder="colors" >
                                    <option value="">Colores</option>
                                    <% if (locals.color) { %>
                                        <% colors.forEach(color => { %> 
                                            <option value="<%= color.id %>"> <%= color.name %> </option>
                                        <%})%>
                                    <% } %>
                                </select>
                                <div class="div-input-errors">
                                    <span id="errorColors"> <%= locals.errors && errors.colors? errors.colors.msg : null %> </span>
                                </div>
                            <input type="number" name="price" id="nombre-usuario" placeholder="Precio" >
                            <div class="div-input-errors">
                                <span id="errorPrice"> <%= locals.errors && errors.price ? errors.price.msg : null %> </span>
                            </div>
                        </div>
                        <div class="div-input-file">
                            <label for="input-file"> Ingrese una Imagen </label>
                            <input  id="input-file" type="file" name="image" class="file-input" >
                        </div>
                        <div class="div-input-errors">
                            <span id="errorImage"> <%= locals.errors && errors.image ? errors.image.msg : null %> </span>
                        </div>
                            <button type="submit" class="button-class-create">Crear Producto</button>
                </form>
            </section>

        </main>  

        <%- include('../partials/footer.ejs') %>
</body>
</html>