<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {pageTitle: 'Product Cart'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="main-cart-container">
            <article class="art-cart">
                <div class="cart-art-img">
                    <img src="/images/<%= theProduct.image %>" alt="">
                </div>
                <div class="cart-art">
                    <h4>Cantidad</h4>
                <select name="" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <h4>Precio</h4>
                <span> <%= theProduct.price %></span>
                <div class="div-total">
                    <h4>Total</h4>
                    <span><%= theProduct.price  %></span>
                </div>
                <div class="button-cart">
                    <button>Pagar</button>
                </div>
            </div>
        </article>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>