<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {pageTitle: 'Detail'}) %>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <section class="main-container-detail">
    
                <div class="div-container-detail">
                    <img src="/images/<%= theProduct.image %>" alt="">
                </div>        
                    <div class="div-content-detail">
                        <h2><%= theProduct.name %> </h2>
                        <h3><%= theProduct.price %> </h3>
                        <p><%= theProduct.description %></p>
                    <!-- <label>Cantidad</label>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select> -->
                    <div class="button-detail">
                        <% if(locals.logged) { %>
                        <a href="/product/cart/<%= theProduct.id %>">
                            <button>Agregar</button>
                        </a>
                        <a href="/product/edit/<%= theProduct.id %>">
                            <button type="submit" class="button-class-mod">Modificar</button>
                        </a> 
                        <form method="post" action="/product/<%= theProduct.id %>?_method=delete">
                            <button type="submit" class="button-class-mod">Borrar Producto</button>
                        </form> 
                        <% } %>
                    </div>
                    </div>
        </section>
    </main>
<%- include('../partials/footer.ejs') %>
</body>
</html>